*{padding:0;
margin:0}

header{
	height: 50px;
	width: 100%;
	background-color:rgb(0,127,255);
}

.menu{
	color: black;
	text-decoration: none;
	margin-top: 10px;
	position: absolute;
	margin-left: 15px;
	font: 20px Times;
}


header a{
	position:absolute;
	color: black;
	text-decoration: none;
	margin-left: 830px;
	font: 36px Algerian;
}

section{
	height: 1500px;
	width: 100%;
	background-color:black;
}
section #inter{
	position:absolute;
	background-color:rgb(190,190,190);
	margin-top: 100px;
	margin-left: 200px;
	height:310px;
	width:210px;
}

#filme1{
	margin-top: 5px;
	margin-left: 5px;
	height:300px;
	width:200px;
}

#texto h1{
	position: absolute;
	margin-top: 50px;
	margin-left: 850px;
	color:rgb(255,127,0);
	font: 25px Times;
}

#texto p{
	color: white;
	font: 18px Times;
}

#texto h2{
	position: absolute;
	margin-top: 150px;
	margin-left: 500px;
	color:rgb(255,127,0);
	font: 25px Times;
}

#texto h3{
	position: absolute;
	margin-top: 320px;
	margin-left: 500px;
	color:rgb(255,127,0);
	font: 25px Times;
}

#video{
	margin-left: 100px;
	width:580px;
	height:335px;
	background-color:rgb(190,190,190);
}

iframe{
	margin-top:10px;
	margin-left:10px;
}





@media screen and (max-width: 1480px){
	
	*{padding:0;
	margin:0}

	header{
		height: 50px;
		width: 100%;
		background-color:rgb(0,127,255);
	}

	.menu{
		color: black;
		text-decoration: none;
		margin-top: 10px;
		position: absolute;
		margin-left: 15px;
		font: 20px Times;
	}


	header a{
		position:absolute;
		color: black;
		text-decoration: none;
		margin-left: 630px;
		font: 36px Algerian;
	}

	section{
		height: 1500px;
		width: 100%;
		background-color:black;
	}
	section #inter{
		position:absolute;
		background-color:rgb(190,190,190);
		margin-top: 100px;
		margin-left: 100px;
		height:310px;
		width:210px;
	}

	#filme1{
		margin-top: 5px;
		margin-left: 5px;
		height:300px;
		width:200px;
	}

	#texto h1{
		position: absolute;
		margin-top: 50px;
		margin-left: 660px;
		color:rgb(255,127,0);
		font: 25px Times;
	}

	#texto p{
		color: white;
		font: 18px Times;
	}

	#texto h2{
		position: absolute;
		margin-top: 150px;
		margin-left: 370px;
		color:rgb(255,127,0);
		font: 25px Times;
	}

	#texto h3{
		position: absolute;
		margin-top: 310px;
		margin-left: 370px;
		color:rgb(255,127,0);
		font: 25px Times;
	}

	#video{
		margin-left: 100px;
		width:580px;
		height:335px;
		background-color:rgb(190,190,190);
	}

	iframe{
		margin-top:10px;
		margin-left:10px;
	}
	
}